@import "../../assets/styles/global";


.Button { 
  @include rounded("all", "sm");
  @include padding("all","sm");
  @include shadow("lg");

  outline: none;
  border: none;
  font-family: $font-family;
  cursor: pointer;
  &.primary {
    background-color: transparentize($primary, 0.3);
  } 
  
  &.secondary {
    background-color: transparentize($secondary, 0.3);
    color: $light-text;
    &::placeholder {
      color: transparentize($light-text, .3);
    }
  }
  
  &.terciary {
    background-color: transparentize($terciary, 0.2);
  } 
  
  &.contrast {
    background-color: transparentize($contrast, 0.2);
    color: $light-text;
    &::placeholder {
      color: transparentize($light-text, .3);
    }
  }

  &.success {
    background-color: $success;
    color: $light-text;
  }
  &.info {
    background-color: $info;
    color: $light-text;
  }
  &.warning {
    background-color: $warning;
    color: $light-text;
  }
  &.danger {
    background-color: $danger;
    color: $light-text;
  }

}